mcp_mqtt_esp8266.json
[
    {
        "id": "mcp_flow_mqtt_esp",
        "type": "tab",
        "label": "MCP GPIO + MQTT ESP8266",
        "disabled": false,
        "info": "API MCP completa para controlar GPIOs via MQTT para ESP8266"
    },
    {
        "id": "mqtt_broker_config",
        "type": "mqtt-broker",
        "name": "MQTT Broker Local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered-mcp",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "mcp/nodered/online",
        "birthQos": "1",
        "birthRetain": "true",
        "birthPayload": "1",
        "birthMsg": {},
        "closeTopic": "mcp/nodered/online",
        "closeQos": "1",
        "closeRetain": "true",
        "closePayload": "0",
        "closeMsg": {},
        "willTopic": "mcp/nodered/online",
        "willQos": "1",
        "willRetain": "true",
        "willPayload": "0",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "http_mcp_control",
        "type": "http in",
        "z": "mcp_flow_mqtt_esp",
        "name": "POST /mcp/gpio/control",
        "url": "/mcp/gpio/control",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "mcp_controller"
            ]
        ]
    },
    {
        "id": "http_mcp_status",
        "type": "http in",
        "z": "mcp_flow_mqtt_esp",
        "name": "GET /mcp/gpio/status",
        "url": "/mcp/gpio/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "get_status"
            ]
        ]
    },
    {
        "id": "http_mcp_tools",
        "type": "http in",
        "z": "mcp_flow_mqtt_esp",
        "name": "GET /mcp/tools",
        "url": "/mcp/tools",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "list_tools"
            ]
        ]
    },
    {
        "id": "mcp_controller",
        "type": "function",
        "z": "mcp_flow_mqtt_esp",
        "name": "MCP GPIO Controller",
        "func": "const body = msg.payload;\nconst tool = body.tool || body.name;\nconst params = body.params || body.arguments || {};\nconst validGPIOs = [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27];\n\nif (tool === 'control_gpio') {\n    const pin = parseInt(params.pin);\n    const state = params.state;\n    \n    if (!pin || !validGPIOs.includes(pin)) {\n        msg.statusCode = 400;\n        msg.payload = { error: 'Invalid GPIO pin', valid_pins: validGPIOs };\n        return [null, msg, null];\n    }\n    \n    let value;\n    if (state === 'on' || state === true || state === 1 || state === '1') {\n        value = 1;\n    } else if (state === 'off' || state === false || state === 0 || state === '0') {\n        value = 0;\n    } else {\n        msg.statusCode = 400;\n        msg.payload = { error: 'Invalid state. Use: on/off, true/false, 1/0' };\n        return [null, msg, null];\n    }\n    \n    let gpioStates = global.get('gpio_states') || {};\n    gpioStates[pin] = {\n        state: value === 1 ? 'on' : 'off',\n        value: value,\n        timestamp: new Date().toISOString()\n    };\n    global.set('gpio_states', gpioStates);\n    \n    msg.gpio_pin = pin;\n    msg.gpio_value = value;\n    msg.result = {\n        tool: 'control_gpio',\n        result: {\n            success: true,\n            gpio: pin,\n            state: gpioStates[pin].state,\n            value: value,\n            timestamp: gpioStates[pin].timestamp\n        }\n    };\n    return [msg, null, null];\n    \n} else if (tool === 'control_multiple_gpio') {\n    const gpios = params.gpios || [];\n    \n    if (!Array.isArray(gpios) || gpios.length === 0) {\n        msg.statusCode = 400;\n        msg.payload = { error: 'gpios must be a non-empty array' };\n        return [null, msg, null];\n    }\n    \n    let gpioStates = global.get('gpio_states') || {};\n    let results = [];\n    \n    for (let gpio of gpios) {\n        const pin = parseInt(gpio.pin);\n        if (!validGPIOs.includes(pin)) continue;\n        const value = (gpio.state === 'on' || gpio.state === true || gpio.state === 1 || gpio.state === '1') ? 1 : 0;\n        gpioStates[pin] = {\n            state: value === 1 ? 'on' : 'off',\n            value: value,\n            timestamp: new Date().toISOString()\n        };\n        results.push({ gpio: pin, state: gpioStates[pin].state, value: value, success: true });\n    }\n    global.set('gpio_states', gpioStates);\n    \n    msg.payload = {\n        tool: 'control_multiple_gpio',\n        result: { success: true, total: results.length, gpios: results, timestamp: new Date().toISOString() }\n    };\n    msg.batch_gpios = results;\n    return [null, null, msg];\n    \n} else {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Unknown tool: ' + tool };\n    return [null, msg, null];\n}",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 100,
        "wires": [
            [
                "gpio_router",
                "format_response"
            ],
            [
                "error_response"
            ],
            [
                "batch_handler",
                "batch_response"
            ]
        ]
    },
    {
        "id": "gpio_router",
        "type": "function",
        "z": "mcp_flow_mqtt_esp",
        "name": "GPIO Router",
        "func": "const pin = msg.gpio_pin;\nconst value = msg.gpio_value;\n\nif (!pin) return null;\n\n// Tópico compatível com o firmware ESP8266 (subscreve mcp/gpio/+/set)\nmsg.topic = 'mcp/gpio/' + pin + '/set';\nmsg.payload = String(value);\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 60,
        "wires": [
            [
                "mqtt_single_out"
            ]
        ]
    },
    {
        "id": "mqtt_single_out",
        "type": "mqtt out",
        "z": "mcp_flow_mqtt_esp",
        "name": "MQTT → ESP8266 (single)",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correi": false,
        "expiry": "",
        "broker": "mqtt_broker_config",
        "x": 880,
        "y": 60,
        "wires": []
    },
    {
        "id": "format_response",
        "type": "function",
        "z": "mcp_flow_mqtt_esp",
        "name": "Format Response",
        "func": "msg.payload = msg.result;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 120,
        "wires": [
            [
                "http_response"
            ]
        ]
    },
    {
        "id": "http_response",
        "type": "http response",
        "z": "mcp_flow_mqtt_esp",
        "name": "Success Response",
        "statusCode": "200",
        "headers": {},
        "x": 860,
        "y": 120,
        "wires": []
    },
    {
        "id": "error_response",
        "type": "http response",
        "z": "mcp_flow_mqtt_esp",
        "name": "Error Response",
        "statusCode": "",
        "headers": {},
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "batch_handler",
        "type": "function",
        "z": "mcp_flow_mqtt_esp",
        "name": "Batch GPIO Handler",
        "func": "const gpios = msg.batch_gpios || [];\n\nfor (let gpio of gpios) {\n    // Publica cada pino no MQTT individualmente\n    node.send({\n        topic: 'mcp/gpio/' + gpio.gpio + '/set',\n        payload: String(gpio.value)\n    });\n}\n\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 220,
        "wires": [
            [
                "mqtt_batch_out"
            ]
        ]
    },
    {
        "id": "mqtt_batch_out",
        "type": "mqtt out",
        "z": "mcp_flow_mqtt_esp",
        "name": "MQTT → ESP8266 (batch)",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correi": false,
        "expiry": "",
        "broker": "mqtt_broker_config",
        "x": 880,
        "y": 220,
        "wires": []
    },
    {
        "id": "batch_response",
        "type": "http response",
        "z": "mcp_flow_mqtt_esp",
        "name": "Batch Response",
        "statusCode": "200",
        "headers": {},
        "x": 870,
        "y": 260,
        "wires": []
    },
    {
        "id": "get_status",
        "type": "function",
        "z": "mcp_flow_mqtt_esp",
        "name": "Get GPIO Status",
        "func": "let gpioStates = global.get('gpio_states') || {};\n\nmsg.payload = {\n    tool: 'gpio_status',\n    result: {\n        pin_mode: 'BCM',\n        available_pins: [2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27],\n        active_pins: Object.keys(gpioStates).map(p => parseInt(p)),\n        states: gpioStates,\n        timestamp: new Date().toISOString()\n    }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 320,
        "wires": [
            [
                "status_response"
            ]
        ]
    },
    {
        "id": "status_response",
        "type": "http response",
        "z": "mcp_flow_mqtt_esp",
        "name": "Status Response",
        "statusCode": "200",
        "headers": {},
        "x": 620,
        "y": 320,
        "wires": []
    },
    {
        "id": "list_tools",
        "type": "function",
        "z": "mcp_flow_mqtt_esp",
        "name": "List MCP Tools",
        "func": "msg.payload = {\n    tools: [\n        {\n            name: 'control_gpio',\n            description: 'Control individual GPIO pin via MQTT to ESP8266',\n            parameters: {\n                pin: { type: 'number', description: 'GPIO pin number (2-27 BCM)', required: true },\n                state: { type: 'string', description: 'Desired state: on/off, true/false, 1/0', required: true, enum: ['on', 'off', 'true', 'false', '1', '0'] }\n            }\n        },\n        {\n            name: 'control_multiple_gpio',\n            description: 'Control multiple GPIO pins via MQTT to ESP8266',\n            parameters: {\n                gpios: { type: 'array', description: 'Array of {pin, state} objects', required: true }\n            }\n        },\n        {\n            name: 'gpio_status',\n            description: 'Get current status of all GPIO pins',\n            parameters: {}\n        }\n    ]\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 380,
        "wires": [
            [
                "tools_response"
            ]
        ]
    },
    {
        "id": "tools_response",
        "type": "http response",
        "z": "mcp_flow_mqtt_esp",
        "name": "Tools Response",
        "statusCode": "200",
        "headers": {},
        "x": 620,
        "y": 380,
        "wires": []
    },
    {
        "id": "mqtt_status_in",
        "type": "mqtt in",
        "z": "mcp_flow_mqtt_esp",
        "name": "Status ESP8266",
        "topic": "mcp/gpio/+/status",
        "qos": "1",
        "datatype": "auto",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 460,
        "wires": [
            [
                "sync_gpio_state"
            ]
        ]
    },
    {
        "id": "sync_gpio_state",
        "type": "function",
        "z": "mcp_flow_mqtt_esp",
        "name": "Sync Estado do ESP",
        "func": "// Mantém o estado do Node-RED sincronizado com o que o ESP reporta\n// Tópico: mcp/gpio/{pin}/status  →  payload: '1' ou '0'\nconst parts = msg.topic.split('/');\nconst pin = parseInt(parts[2]);\nconst value = parseInt(msg.payload);\n\nif (isNaN(pin) || isNaN(value)) return null;\n\nlet gpioStates = global.get('gpio_states') || {};\ngpioStates[pin] = {\n    state: value === 1 ? 'on' : 'off',\n    value: value,\n    source: 'esp8266',\n    timestamp: new Date().toISOString()\n};\nglobal.set('gpio_states', gpioStates);\n\nnode.log('ESP8266 sync: pino ' + pin + ' = ' + (value === 1 ? 'ON' : 'OFF'));\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "mqtt_device_in",
        "type": "mqtt in",
        "z": "mcp_flow_mqtt_esp",
        "name": "Device Online/Info",
        "topic": "mcp/device/#",
        "qos": "1",
        "datatype": "auto",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 520,
        "wires": [
            [
                "debug_device"
            ]
        ]
    },
    {
        "id": "debug_device",
        "type": "debug",
        "z": "mcp_flow_mqtt_esp",
        "name": "ESP8266 Events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 390,
        "y": 520,
        "wires": []
    },
    {
        "id": "mqtt_dht_in",
        "type": "mqtt in",
        "z": "mcp_flow_mqtt_esp",
        "name": "DHT11 Sensor",
        "topic": "mcp/sensor/dht/data",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 580,
        "wires": [
            [
                "store_dht_data"
            ]
        ]
    },
    {
        "id": "store_dht_data",
        "type": "function",
        "z": "mcp_flow_mqtt_esp",
        "name": "Salvar Leitura DHT",
        "func": "const data = msg.payload;\nif (!data || isNaN(data.temperature) || isNaN(data.humidity)) return null;\nglobal.set(\"dht_data\", {\n    temperature: data.temperature,\n    humidity: data.humidity,\n    device_id: data.device_id || \"esp8266-01\",\n    timestamp: new Date().toISOString()\n});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 580,
        "wires": [
            [
                "debug_dht"
            ]
        ]
    },
    {
        "id": "debug_dht",
        "type": "debug",
        "z": "mcp_flow_mqtt_esp",
        "name": "DHT11 Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload.temperature",
        "statusType": "auto",
        "x": 580,
        "y": 580,
        "wires": []
    },
    {
        "id": "http_mcp_dht",
        "type": "http in",
        "z": "mcp_flow_mqtt_esp",
        "name": "GET /mcp/sensor/dht",
        "url": "/mcp/sensor/dht",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 640,
        "wires": [
            [
                "get_dht_status"
            ]
        ]
    },
    {
        "id": "get_dht_status",
        "type": "function",
        "z": "mcp_flow_mqtt_esp",
        "name": "Get DHT Status",
        "func": "const dht = global.get(\"dht_data\") || null;\nif (!dht) {\n    msg.statusCode = 503;\n    msg.payload = { error: \"Sem dados do sensor. Aguarde a primeira leitura (até 30s).\", sensor: \"DHT11\" };\n    return msg;\n}\nmsg.payload = {\n    sensor: \"DHT11\",\n    result: {\n        temperature: dht.temperature,\n        humidity: dht.humidity,\n        temperature_unit: \"C\",\n        device_id: dht.device_id,\n        timestamp: dht.timestamp\n    }\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 640,
        "wires": [
            [
                "dht_response"
            ]
        ]
    },
    {
        "id": "dht_response",
        "type": "http response",
        "z": "mcp_flow_mqtt_esp",
        "name": "DHT Response",
        "statusCode": "200",
        "headers": {},
        "x": 600,
        "y": 640,
        "wires": []
    },
    {
        "id": "mqtt_dht_alert",
        "type": "mqtt in",
        "z": "mcp_flow_mqtt_esp",
        "name": "DHT Alert Monitor",
        "topic": "mcp/sensor/dht/data",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 680,
        "wires": [
            [
                "check_dht_alerts"
            ]
        ]
    },
    {
        "id": "check_dht_alerts",
        "type": "function",
        "z": "mcp_flow_mqtt_esp",
        "name": "Verificar Alertas DHT",
        "func": "const data = msg.payload;\nif (!data || isNaN(data.temperature) || isNaN(data.humidity)) return null;\n\nconst config = global.get('alert_config') || {};\nif (Object.keys(config).length === 0) return null;\n\nconst queue = global.get('alert_queue') || [];\nconst now = new Date().toISOString();\nconst triggered = [];\n\nif (config.temp_above !== undefined && data.temperature > config.temp_above) {\n    triggered.push({ type: 'temperature', condition: 'acima', threshold: config.temp_above, value: data.temperature, timestamp: now });\n}\nif (config.temp_below !== undefined && data.temperature < config.temp_below) {\n    triggered.push({ type: 'temperature', condition: 'abaixo', threshold: config.temp_below, value: data.temperature, timestamp: now });\n}\nif (config.humidity_above !== undefined && data.humidity > config.humidity_above) {\n    triggered.push({ type: 'humidity', condition: 'acima', threshold: config.humidity_above, value: data.humidity, timestamp: now });\n}\nif (config.humidity_below !== undefined && data.humidity < config.humidity_below) {\n    triggered.push({ type: 'humidity', condition: 'abaixo', threshold: config.humidity_below, value: data.humidity, timestamp: now });\n}\n\nif (triggered.length > 0) {\n    const updated = [...queue, ...triggered].slice(-100);\n    global.set('alert_queue', updated);\n}\nreturn null;",
        "outputs": 1,
        "x": 360,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "http_alert_get",
        "type": "http in",
        "z": "mcp_flow_mqtt_esp",
        "name": "GET /mcp/sensor/alerts",
        "url": "/mcp/sensor/alerts",
        "method": "get",
        "x": 140,
        "y": 760,
        "wires": [
            [
                "get_alert_queue"
            ]
        ]
    },
    {
        "id": "get_alert_queue",
        "type": "function",
        "z": "mcp_flow_mqtt_esp",
        "name": "Ler Fila de Alertas",
        "func": "const queue = global.get('alert_queue') || [];\nconst config = global.get('alert_config') || {};\nmsg.payload = { alerts: queue, total: queue.length, config: config };\nreturn msg;",
        "outputs": 1,
        "x": 360,
        "y": 760,
        "wires": [
            [
                "alert_get_response"
            ]
        ]
    },
    {
        "id": "alert_get_response",
        "type": "http response",
        "z": "mcp_flow_mqtt_esp",
        "name": "",
        "statusCode": "",
        "x": 560,
        "y": 760,
        "wires": []
    },
    {
        "id": "http_alert_config",
        "type": "http in",
        "z": "mcp_flow_mqtt_esp",
        "name": "POST /mcp/sensor/alerts/config",
        "url": "/mcp/sensor/alerts/config",
        "method": "post",
        "x": 140,
        "y": 840,
        "wires": [
            [
                "save_alert_config"
            ]
        ]
    },
    {
        "id": "save_alert_config",
        "type": "function",
        "z": "mcp_flow_mqtt_esp",
        "name": "Salvar Config de Alertas",
        "func": "const cfg = msg.payload || {};\nconst current = global.get('alert_config') || {};\nif (cfg.temp_above  !== undefined) current.temp_above  = parseFloat(cfg.temp_above);\nif (cfg.temp_below  !== undefined) current.temp_below  = parseFloat(cfg.temp_below);\nif (cfg.humidity_above !== undefined) current.humidity_above = parseFloat(cfg.humidity_above);\nif (cfg.humidity_below !== undefined) current.humidity_below = parseFloat(cfg.humidity_below);\nglobal.set('alert_config', current);\nmsg.payload = { status: 'ok', config: current };\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 840,
        "wires": [
            [
                "alert_config_response"
            ]
        ]
    },
    {
        "id": "alert_config_response",
        "type": "http response",
        "z": "mcp_flow_mqtt_esp",
        "name": "",
        "statusCode": "",
        "x": 600,
        "y": 840,
        "wires": []
    },
    {
        "id": "http_alert_clear",
        "type": "http in",
        "z": "mcp_flow_mqtt_esp",
        "name": "POST /mcp/sensor/alerts/clear",
        "url": "/mcp/sensor/alerts/clear",
        "method": "post",
        "x": 140,
        "y": 920,
        "wires": [
            [
                "clear_alert_queue"
            ]
        ]
    },
    {
        "id": "clear_alert_queue",
        "type": "function",
        "z": "mcp_flow_mqtt_esp",
        "name": "Limpar Fila de Alertas",
        "func": "global.set('alert_queue', []);\nmsg.payload = { status: 'ok', message: 'Fila de alertas limpa' };\nreturn msg;",
        "outputs": 1,
        "x": 360,
        "y": 920,
        "wires": [
            [
                "alert_clear_response"
            ]
        ]
    },
    {
        "id": "alert_clear_response",
        "type": "http response",
        "z": "mcp_flow_mqtt_esp",
        "name": "",
        "statusCode": "",
        "x": 580,
        "y": 920,
        "wires": []
    },
    {
        "id": "mqtt_dht_plans",
        "type": "mqtt in",
        "z": "mcp_flow_mqtt_esp",
        "name": "DHT → Executar Planos",
        "topic": "mcp/sensor/dht/data",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker_config",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 1020,
        "wires": [
            [
                "execute_action_plans"
            ]
        ]
    },
    {
        "id": "execute_action_plans",
        "type": "function",
        "z": "mcp_flow_mqtt_esp",
        "name": "Executar Planos de Ação",
        "func": "const data = msg.payload;\nif (!data || isNaN(data.temperature) || isNaN(data.humidity)) return null;\n\nconst plans = global.get('action_plans') || [];\nif (plans.length === 0) return null;\n\nconst queue = global.get('alert_queue') || [];\nconst now = new Date().toISOString();\n\nfor (const plan of plans) {\n    if (!plan.active) continue;\n    let triggered = false;\n    let sensorValue = 0;\n\n    if      (plan.trigger === 'temp_above'      && data.temperature > plan.threshold) { triggered = true; sensorValue = data.temperature; }\n    else if (plan.trigger === 'temp_below'      && data.temperature < plan.threshold) { triggered = true; sensorValue = data.temperature; }\n    else if (plan.trigger === 'humidity_above'  && data.humidity    > plan.threshold) { triggered = true; sensorValue = data.humidity; }\n    else if (plan.trigger === 'humidity_below'  && data.humidity    < plan.threshold) { triggered = true; sensorValue = data.humidity; }\n\n    if (triggered) {\n        node.send({ topic: 'mcp/gpio/' + plan.pin + '/set', payload: plan.action === 'on' ? '1' : '0' });\n        queue.push({\n            type: 'action_plan',\n            plan_id: plan.id,\n            description: plan.description || '',\n            trigger: plan.trigger,\n            threshold: plan.threshold,\n            value: sensorValue,\n            gpio: plan.pin,\n            gpio_action: plan.action,\n            timestamp: now\n        });\n    }\n}\n\nglobal.set('alert_queue', queue.slice(-100));\nreturn null;",
        "outputs": 1,
        "x": 380,
        "y": 1020,
        "wires": [
            [
                "mqtt_plan_out"
            ]
        ]
    },
    {
        "id": "mqtt_plan_out",
        "type": "mqtt out",
        "z": "mcp_flow_mqtt_esp",
        "name": "MQTT → GPIO (plano)",
        "topic": "",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_config",
        "x": 620,
        "y": 1020,
        "wires": []
    },
    {
        "id": "http_action_post",
        "type": "http in",
        "z": "mcp_flow_mqtt_esp",
        "name": "POST /mcp/action/plan",
        "url": "/mcp/action/plan",
        "method": "post",
        "x": 140,
        "y": 1120,
        "wires": [
            [
                "save_action_plan_fn"
            ]
        ]
    },
    {
        "id": "save_action_plan_fn",
        "type": "function",
        "z": "mcp_flow_mqtt_esp",
        "name": "Salvar Plano de Ação",
        "func": "const b = msg.payload || {};\nif (!b.trigger || b.threshold === undefined || b.pin === undefined || !b.action) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Campos obrigatórios: trigger, threshold, pin, action' };\n    return msg;\n}\n\nconst plans = global.get('action_plans') || [];\nconst id = b.id || ('plan_' + Date.now());\nconst idx = plans.findIndex(p => p.id === id);\n\nconst plan = {\n    id,\n    trigger:     b.trigger,\n    threshold:   parseFloat(b.threshold),\n    pin:         parseInt(b.pin),\n    action:      b.action,\n    description: b.description || '',\n    active:      b.active !== false,\n    created_at:  idx >= 0 ? plans[idx].created_at : new Date().toISOString()\n};\n\nif (idx >= 0) plans[idx] = plan;\nelse plans.push(plan);\n\nglobal.set('action_plans', plans);\nmsg.payload = { status: 'ok', plan };\nreturn msg;",
        "outputs": 1,
        "x": 360,
        "y": 1120,
        "wires": [
            [
                "action_post_response"
            ]
        ]
    },
    {
        "id": "action_post_response",
        "type": "http response",
        "z": "mcp_flow_mqtt_esp",
        "name": "",
        "statusCode": "",
        "x": 580,
        "y": 1120,
        "wires": []
    },
    {
        "id": "http_actions_get",
        "type": "http in",
        "z": "mcp_flow_mqtt_esp",
        "name": "GET /mcp/action/plans",
        "url": "/mcp/action/plans",
        "method": "get",
        "x": 140,
        "y": 1200,
        "wires": [
            [
                "get_action_plans_fn"
            ]
        ]
    },
    {
        "id": "get_action_plans_fn",
        "type": "function",
        "z": "mcp_flow_mqtt_esp",
        "name": "Listar Planos de Ação",
        "func": "const plans = global.get('action_plans') || [];\nmsg.payload = { plans, total: plans.length };\nreturn msg;",
        "outputs": 1,
        "x": 360,
        "y": 1200,
        "wires": [
            [
                "actions_get_response"
            ]
        ]
    },
    {
        "id": "actions_get_response",
        "type": "http response",
        "z": "mcp_flow_mqtt_esp",
        "name": "",
        "statusCode": "",
        "x": 580,
        "y": 1200,
        "wires": []
    },
    {
        "id": "http_action_delete",
        "type": "http in",
        "z": "mcp_flow_mqtt_esp",
        "name": "POST /mcp/action/plan/delete",
        "url": "/mcp/action/plan/delete",
        "method": "post",
        "x": 140,
        "y": 1280,
        "wires": [
            [
                "delete_action_plan_fn"
            ]
        ]
    },
    {
        "id": "delete_action_plan_fn",
        "type": "function",
        "z": "mcp_flow_mqtt_esp",
        "name": "Remover Plano de Ação",
        "func": "const id = (msg.payload || {}).id;\nif (!id) {\n    msg.statusCode = 400;\n    msg.payload = { error: 'Campo obrigatório: id' };\n    return msg;\n}\nconst plans = global.get('action_plans') || [];\nconst updated = plans.filter(p => p.id !== id);\nglobal.set('action_plans', updated);\nmsg.payload = { status: 'ok', removed: plans.length - updated.length };\nreturn msg;",
        "outputs": 1,
        "x": 380,
        "y": 1280,
        "wires": [
            [
                "action_delete_response"
            ]
        ]
    },
    {
        "id": "action_delete_response",
        "type": "http response",
        "z": "mcp_flow_mqtt_esp",
        "name": "",
        "statusCode": "",
        "x": 600,
        "y": 1280,
        "wires": []
    }
]